.listItem-container {
  border: 2px solid lightgrey;
  padding: 10px 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem-container:hover {
  background-color: lightblue;
  cursor: pointer;
}

.post-title {
  font-size: 1.5rem;
}

.icon {
  font-size: 1.5rem;
}
